---
language: node_js
node_js:
  # we recommend testing addons with the same minimum supported node version as Ember CLI
  # so that your addon works for all apps
  - "4"

sudo: required
dist: trusty

addons:
  chrome: stable

cache:
  directories:
    - $HOME/.npm

before_install:
  - npm config set spin false
  - npm install -g npm@4
  - npm --version

install:
  - npm install -g bower
  - npm install
  - bower install

script:
  - ember try:each
