<h2 id='title'>Welcome to Ember.js</h2>

{{outlet}}

{{#if-feature 'acceptance-feature'}}
  <div class="acceptance-feature-on"></div>
{{else}}
  <div class="acceptance-feature-off"></div>
{{/if-feature}}

{{#if-feature 'feature-from-config'}}
  <div class="feature-from-config-on"></div>
{{else}}
  <div class="feature-from-config-off"></div>
{{/if-feature}}

{{#if-feature 'off-feature'}}
  <div class="off-feature-on"></div>
{{/if-feature}}

{{#if features.flags.acceptance-feature}}
  <div class="bound-acceptance-feature-on"></div>
{{else}}
  <div class="bound-acceptance-feature-off"></div>
{{/if}}
