<h2 id='title'>Welcome to Ember.js</h2>

{{outlet}}

{{#if features.acceptanceFeature}}
  <div class="acceptance-feature-on"></div>
{{else}}
  <div class="acceptance-feature-off"></div>
{{/if}}

{{#if features.featureFromConfig}}
  <div class="feature-from-config-on"></div>
{{else}}
  <div class="feature-from-config-off"></div>
{{/if}}
