<h2 id='title'>Welcome to Ember.js</h2>

{{outlet}}

{{#if-feature 'acceptance-feature'}}
  <div class="acceptance-feature-on"></div>
{{else}}
  <div class="acceptance-feature-off"></div>
{{/if-feature}}

{{#if-feature 'off-feature'}}
  <div class="off-feature-on"></div>
{{/if-feature}}
