name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 12.x
          cache: "yarn"
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn lint

  test:
    name: "Test"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 8.x
          cache: yarn
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Run Tests
        run: yarn test

  compat:
    name: other version tests

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        scenario:
          - ember-lts-3.4
          - ember-lts-3.8
          # These are the 3.x LTS's we should *add*
          # - ember-lts-3.24
          # - ember-lts-3.28
          # currently failing b/c they're on Ember v4
          # - ember-release
          # - ember-beta
          # - ember-canary

    continue-on-error: ${{ matrix.scenario == 'ember-canary' }}

    steps:
      - uses: actions/checkout@v3
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 8.x
          cache: yarn
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Run Tests
        run: node_modules/.bin/ember try:one ${{ matrix.scenario }} --skip-cleanup

  types:
    name: type tests

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ts-version:
          - 4.4
          - 4.5
          - 4.6
          - next

    steps:
      - uses: actions/checkout@v3
      - run: yarn install --frozen-lockfile --non-interactive
      - run: yarn add -D typescript@${{ matrix.ts-version }}
      - run: ./node_modules/.bin/tsc --project type-tests
      - run: ./node_modules/.bin/tsc --project type-tests/with-registry

    continue-on-error: ${{ matrix.ts-version == 'next' }}
